.App {
  text-align: center;
}

.main {
  max-width: 700px;
  margin: auto;
  background: #e3ecf1;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 1.5vmin);
  padding: 0 10vmin;
}

$border-weather-containers: 4px solid white;

.city-options {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.city {
  padding: 10px;
  text-transform: uppercase;
  margin: 0 auto;

  .country-name {
    font-size: 10pt;
  }
}

.city.selected {
  font-weight: 700;
  color: #5ca9df;
}

// Weather Container
// -----------------------------------------------------------------------------

.container--weather {
  font-weight: 300;
  font-size: calc(14px + 1vmin);
  width: 100%;
  background: #e3ecf1;
  border: $border-weather-containers;
  border-radius: 10px;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.1);
}

.current-weather {
  //border-bottom: $border-weather-containers;
  padding: 50px;

  .wi {
    font-size: 50px;
  }
}

.container--week-forecast {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.day-forecast {
  padding: 25px;
  font-size: calc(10px + 1.5vmin);
  border-top: $border-weather-containers;
  border-right: $border-weather-containers;
  flex-grow: 1;

  &:last-child {
    border-right: 0;
  }
}

// Footer
// -----------------------------------------------------------------------------

footer {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
}

.github-mark {
  height: 25px;
}
