// Variables (eventually move to separate partial if needed by other files).
// -----------------------------------------------------------------------------

$border-width-containers: 4px;
$border-weather-containers: $border-width-containers solid white;

// App
// -----------------------------------------------------------------------------

.App {
  text-align: center;
  color: #323238;
}

.main {
  max-width: 700px;
  margin: auto;
  background: #e3ecf1;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5vmin;
}

// City Options (the three cities to pick from)
// -----------------------------------------------------------------------------

.city-options {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.city {
  padding: 10px;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: calc(18px + 1.5vmin);

  .country-name {
    font-size: calc(10px + 0.5vmin);
  }
}

.city.selected {
  font-weight: 700;
  color: #5ca9df;
}

// Weather Container
// -----------------------------------------------------------------------------

.container--weather {
  font-weight: 300;
  width: 100%;
  background: #e3ecf1;
  border: $border-weather-containers;
  border-radius: 10px;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.1);

  .temp {
    font-family: Teko, serif;
  }
}

.current-weather {
  padding: 50px;
  font-size: calc(18px + 1vmin);

  .day {
    margin-bottom: 20px;
  }

  .container--temp {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: calc(60px + 1vmin);
  }

  .temp {
    vertical-align: top;
  }

  .wi {
    margin-right: 25px;
  }
}

.container--week-forecast {
  // Hide superfluous border.
  margin-right: -$border-width-containers;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.day-forecast {
  padding: 25px;
  border-top: $border-weather-containers;
  border-right: $border-weather-containers;
  flex: 1 1 10px;
  background: #e3ecf1;

  .day {
    margin-bottom: 20px;
    font-size: calc(15px + 1vmin);
  }

  .wi {
    margin-bottom: 20px;
  }

  .wi, .temp {
    font-size: calc(25px + 1vmin);
  }
}

// Footer
// -----------------------------------------------------------------------------

footer {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
}

.github-mark {
  height: 25px;
}
